<div class="flex justify-between" *ngIf="vm$ | async as vm">
  <div>{{ vm.count }} items left</div>
  <div class="space-x-3">
    <button
      (click)="setFilter('all')"
      [ngClass]="{ 'font-bold': vm.filterType === 'all' }"
    >
      All
    </button>
    <button
      (click)="setFilter('active')"
      [ngClass]="{ 'font-bold': vm.filterType === 'active' }"
    >
      Active
    </button>
    <button
      (click)="setFilter('completed')"
      [ngClass]="{ 'font-bold': vm.filterType === 'completed' }"
    >
      Completed
    </button>
  </div>
  <button (click)="clear()">Clear</button>
</div>
