<div class="space-y-4 mx-auto max-w-xl">
  <h1 class="font-bold text-3xl underline">Hello!</h1>
  <input
    type="text"
    (keyup.enter)="addTodo(text)"
    class="border border-black"
    #text
  />
  <ul>
    <!-- @for (item of items; track $index) {
    <li>{{ item.name }}</li>
    } -->
    <li *ngFor="let item of filteredItems">
      <div class="flex">
        <div class="w-4 cursor-pointer" (click)="toggle(item)">
          <span *ngIf="item.completed">x</span>
        </div>
        <div
          [ngClass]="{
            'line-through text-gray-500': item.completed,
          }"
        >
          {{ item.name }}
        </div>
      </div>
    </li>
  </ul>

  <div class="flex justify-between">
    <div>{{ activeCount }} items left</div>
    <div class="space-x-3">
      <button
        (click)="setFilter('all')"
        [ngClass]="{ 'font-bold': filterType === 'all' }"
      >
        All
      </button>
      <button
        (click)="setFilter('active')"
        [ngClass]="{ 'font-bold': filterType === 'active' }"
      >
        Active
      </button>
      <button
        (click)="setFilter('completed')"
        [ngClass]="{ 'font-bold': filterType === 'completed' }"
      >
        Completed
      </button>
    </div>
    <button (click)="clear()">Clear</button>
  </div>

  <router-outlet />
</div>
